* {
    font-family: Manrope;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background: #140E17;
    padding: 64px 20px 64px 20px;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.mt-80 {
    margin-top: 80px;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.header-container {
    max-width: 1018px;
    width: 100%;
    margin: 0 auto;
    background: rgba(51, 51, 51, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 32px;
    display: flex; 
    flex-direction: column;
    padding: 18px 24px;
    height: 76px;
    position: relative;
}

.header-container .header-container-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
} 

.header-container .header-container-wrapper .left-side {
    display: flex;
    gap: 41px;
    align-items: center;
    position: absolute;
}

.header-container .header-container-wrapper .left-side .logo-container {
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 16px;
    padding: 8px 16px;
    background: rgba(245, 250, 147, 1);
}

.header-container .header-container-wrapper .left-side .logo-container .logo-name {
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
}

.header-container .header-container-wrapper .left-side .menu {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-container .header-container-wrapper .left-side .menu .menu-item a {
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    cursor: pointer;
}

.header-container .header-container-wrapper .left-side .menu .menu-item a:hover {
    color: rgba(245, 250, 147, 1);
} 

.header-container .header-container-wrapper .right-side-button1 {
    padding: 8px 16px 4px 16px;
    border-radius: 16px;
    background: rgba(235, 235, 235, 1);
    cursor: pointer;
    position: absolute;
    right: 0;
}

.header-container .header-container-wrapper .label .right-side-button2 {
    padding: 8px 16px 6px 16px;
    border-radius: 16px;
    background: rgba(118, 117, 123, 1);
    cursor: pointer;  
}

.header-container .header-container-wrapper .label .right-side-button2 .icon-cross{
    display: none;
}

.header-container .burger-menu {
    display: none;
    flex-direction: column;
    gap: 54px;
    padding: 18px 24px;
    border-radius: 32px;
    background: rgba(51, 51, 51, 1);
    position: absolute;
    top: -18px;
    left: -24px;   
    width: 100%;
    z-index: 1;
}

.header-container .header-container-wrapper .label {
    display: none;
}

.header-container .header-container-wrapper :checked ~ .burger-menu {
    display: flex;
} 

.header-container .header-container-wrapper :checked ~ .label .icon-cross {
    display: flex;
}

.header-container .header-container-wrapper :checked ~ .label .icon-burger {
    display: none;
}

.header-container .burger-menu .burger-menu-items {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-top: 94px;
}

.header-container .burger-menu .burger-menu-items .burger-menu-item {
    padding: 24px;
    border-bottom: 1px solid rgba(118, 117, 123, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px; 
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}
    
.header-container .burger-menu .burger-menu-items .burger-menu-item:hover {
    color: rgba(245, 250, 147, 1);
}

.header-container .burger-menu .burger-menu-items .burger-menu-item.first {
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
}

.header-container .burger-menu .burger-menu-items .burger-menu-item .burger-button-profile {
    max-width: 56px;
    width: 100%;
    border-radius: 16px;
    padding: 8px 16px 8px 16px;
    background: rgba(235, 235, 235, 1);
    display: flex;
}

.header-container .burger-menu .burger-menu-items .burger-menu-item.last {
    border-bottom: none;
}

.container .about {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.container .about .about-top {
    display: flex;
    align-items: center;
    position: relative;
}

.container .about .about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(./icons/firework.svg) no-repeat top right;
}

.container .about .about-text .about-text-title {
    font-size: 68px;
    font-weight: 800;
    line-height: 75px;
    color: rgba(255, 255, 255, 1);
    padding-top: 14px;
} 

.container .about .about-text .about-text-icon {
    padding: 3px 264px 24px 57px;
}

.container .about .about-text .about-text-description {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 50px;
}

.container .about .about-top .about-photo {
    position: absolute;
    right: 0;
    top: 0;
}

.container .about .about-top .about-photo img {
    max-width: 382px;
}

.container .about .about-bottom {
    display: flex;
    align-items: center;
    gap: 24px;
}

.container .about .about-bottom .button-about {
    background: rgba(245, 250, 147, 1);
    padding: 18px 14px;
    max-width: 222px;
    text-align: center;
    border-radius: 18px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.container .about .about-bottom .button-about a {
    text-decoration: none;
    color: black;
    text-align: center;
    width: 162px;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: rgba(0, 0, 0, 1);
}

.container .about .about-bottom .mail-input {
    background: rgba(255, 255, 255, 1);
    padding: 18px 14px;
    max-width: 317px;
    border-radius: 18px;
    width: 100%; 
}

.container .about .about-bottom .mail-input .input-about {
    outline: none;
    border: none;
    color: rgba(118, 117, 123, 1);
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
}

.container .info {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.container .info .info-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 32px;
    border: 1px solid rgba(245, 250, 147, 1);
    padding: 31px;
    max-width: 317px;
    height: 398px;
}

.container .info .info-item .info-bottom {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.container .info .info-item .info-bottom .info-title {
    font-size: 42px;
    font-weight: 700;
    line-height: 54px;
    color: rgba(255, 255, 255, 1);
}

.container .info .info-item .info-bottom .info-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: rgba(255, 255, 255, 1);
}

.container .work-experience-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.work-experience-top {
    height: 430px;
    position: relative;
}

.work-experience {
    width: 545px;
   
    height: 324px;
    border: 0.75px solid rgba(51, 51, 51, 1);
    border-radius: 24px;
    color: white;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    top: 106px;
    left: 45px;
}
 
.job-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: rgba(170, 219, 107, 1);
}

.company{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.company .period {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #76757B;
}

.company-link a {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color:#76757B ;
}

.job .position {
    margin-top: 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}

.about-me {
    max-width: 630px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 70px;
    border: 2px solid rgba(51, 51, 51, 1);
    border-radius: 24px;
    padding: 29px 72px;
    position: absolute;
    top: 74px;
    left: 160px;
    z-index: 2;
    background: rgba(20, 14, 23, 1);
}

.my-photo {
    max-width: 182px;
    width: 100%;
}

.short-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FFFFFF;
    max-width: 251px;
}    

.my-name {
    font-weight: 800;
    font-size: 31px;
    line-height: 34px;
}

.description {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.write-action {
    margin-top: 19px;
    background: rgba(249, 214, 158, 1);
    padding: 8px 6px;
    max-width: 105px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    gap: 4px;
    align-items: center;
}

.write-action a {
    text-decoration: none;
    color: black;
    text-align: center;
    width: 78px;
    font-weight: 600;
    font-size: 8px;
    line-height: 11px;
}

.write-action .vector {
    width: 10px;
}

.work-experience-top .item {
    max-width: 190px;
    
    display: flex;
    flex-direction: column;
    color: black;
    background: rgba(255, 175, 176, 1);
    gap: 12px;
    align-items: center;
    border-radius: 21px;
    padding: 18px;
    position: absolute;
    left: 680px;
}

.work-experience-top .item .project-photo img {
    width: 160px;
}

.work-experience-top .item .project {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

.work-experience-top .item .project .project-name {
    font-weight: 700;
    font-size: 27px;
    line-height: 35px;
}

.work-experience-top .item .project .project-description {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
}

.work-experience-top .item .show-project {
    display: flex;
    justify-content: flex-end;
}

.work-experience-top .item .button {
    padding: 12px 9px;
    border-radius: 12px;
    border: 0.66px solid rgba(51, 51, 51, 1);
    max-width: 118px;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.work-experience-top .item .button a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.work-experience-top .item .button img {
    width: 12px;
}

.container .work-experience-wrapper .work-experience-bottom {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 32px;
    border: 1px solid rgba(51, 51, 51, 1);
    padding: 24px;
}

.container .work-experience-wrapper .work-experience-bottom span {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
}

.container .work-experience-wrapper .work-experience-bottom .button-work {   
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.container .work-experience-wrapper .work-experience-bottom .button-work a {
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    padding: 18px 14px;
    border: 1px solid rgba(51, 51, 51, 1);
    border-radius: 18px; 
}

.container.tarif {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container .pricing-plans-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    color: rgba(245, 250, 147, 1);
    padding: 0 24px;
}

.container .pricing-plans {
    display: flex;
    gap: 32px;
    text-align: center;
    justify-content: space-between;
}

.container .pricing-plans .pricing-plan {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 484px;
    position: relative;
}

.container .pricing-plans .pricing-plan .label {
    height: 50px;
    width: 144px;
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    border-radius: 18px;
    border: 1px solid rgba(51, 51, 51, 1);
    padding-top: 12px;
    position: absolute;
    top: -25px;
    right: 32px;
}

.container .pricing-plans .pricing-plan .plan {
    height: 448px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0px;
    padding: 32px;
    border-radius: 32px;
    background: rgba(245, 250, 147, 1);
    justify-content: space-between;
}

.container .pricing-plans .pricing-plan .plan .plan-wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.container .pricing-plans .pricing-plan .plan .plan-wrapper .plan-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    color: rgba(0, 0, 0, 1);
}

.container .pricing-plans .pricing-plan .plan .plan-wrapper .plan-price {
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    color: rgba(0, 0, 0, 1);
}

.container .pricing-plans .pricing-plan .plan .plan-wrapper .plan-price span {
    font-size: 68px;
    font-weight: 800;
    line-height: 75px;
    color: rgba(0, 0, 0, 1);
}

.container .pricing-plans .pricing-plan .plan .plan-wrapper .plan-description {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.container .pricing-plans .pricing-plan .plan .plan-wrapper .plan-description .plan-description-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
}

.container .pricing-plans .pricing-plan .plan .plan-wrapper .plan-description .plan-description-list {
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
}

.container .pricing-plans .pricing-plan .plan .plan-button {
    max-width: 200px;
    width: 100%;
    padding: 18px 14px;
    text-align: center;
    background: rgba(0, 0, 0, 1);
    border-radius: 18px;
}

.container .pricing-plans .pricing-plan .plan .plan-button a {
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

@counter-style marker-font {
	system: cyclic;
	symbols: "done";
	suffix: " ";
}
.markers {
	padding: 0 0 0px 24px;
	list-style-type: marker-font;
    margin: 0;
}
.markers li::marker {
	font-family: 'Material Icons';
	line-height: 1;
	font-size: 14px;
}
.markers li {
	
    padding: 4px 0 4px 4px;
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.faq-container .faq-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    color: rgba(245, 250, 147, 1);
    padding-left: 24px;
}

.faq-container .faq-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

details {
    border-radius: 32px;
    border: 1px solid rgba(51, 51, 51, 1);
    padding: 24px;
}

details > summary {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    list-style: none;
    background: url(./icons/plus.svg) no-repeat right;
}

details > p {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: rgba(118, 117, 123, 1);
    padding-top: 32px;
}

details:open > summary {
  background-image: url(./icons/minus.svg);
}

footer {
    margin-top: 80px;
    -bottom: 100px;
}

.container .footer-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 60px 0 60px 0;
}

.container .footer-container .footer-wrapper {
    display: flex;
    gap: 24px;
}

.container .footer-container .social-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 232px;
    max-width: 100%;
}

.container .footer-container .social-links .logo-container {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
}

.container .footer-container .social-links .logo-container .logo-name {
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;
    color: rgba(255, 255, 255, 1);
}

.container .footer-container .social-links .social-links-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container .footer-container .social-links .social-links-icons a {
    cursor: pointer;
}

.container .footer-container .footer-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 232px;
    max-width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    color: rgba(255, 255, 255, 1);
}

.container .footer-container .footer-info a {
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.container .footer-container .footer-info a:hover {
    color: rgba(245, 250, 147, 1);
}

.container .chat {
    display: flex;
    justify-content: flex-end;
    padding-top: 100px;
}


@media screen and (max-width: 768px) {

    .header-container .header-container-wrapper .right-side-button1 {
        display: none;    
   }   

   .header-container .header-container-wrapper .label {
        display: block;
        position: absolute;
        z-index: 2;
        right: 0;
    }

   .header-container .burger-menu {
        width: 728px;
   }

   .menu-item {
        display: none;
   }

   .container .about {
       background: url(./icons/about-photo-768.svg) no-repeat right;
       background-position: 284px 0;
   }

   .about-photo {
        display: none;
   }

   .container .info {
        display: flex;
        flex-direction: column;
   }

   .container .info .info-item.elem {
        max-width: 728px;
        width: 100%;
        max-height: 266px;
   }

   .container .info .info-item.analit {
        max-width: 728px;
        width: 100%;
        max-height: 292px;
   }

   .container .info .info-item.link {
        max-width: 728px;
        width: 100%;
        max-height: 346px;
   }

   .container .info .info-item.link .info-bottom .info-title {
        max-width: 300px;
        width: 100%;
   }

   .container .info .info-item.link .info-bottom .info-text {
        display: flex;
        flex-direction: column;
   }

    

    .container .work-experience-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    }

    .work-experience-top {
        height: 310px;
        width: 728px;
    }

    .work-experience {
        width: 392px;
        height: 233px;
        border: 0.54px solid rgba(51, 51, 51, 1);
        border-radius: 17px;
        color: white;
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        top: 76px;
        left: 36px;
    }
    
    .job-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    h3 {
        font-weight: 600;
        font-size: 13px;
        line-height: 14px;
        color: rgba(170, 219, 107, 1);
    }

    .company{
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
    }

    .company .period {
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        color: #76757B;
    }

    .company-link a {
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        text-decoration: underline;
        text-decoration-style: solid;
    
        color:#76757B ;
    }

    .job .position {
        margin-top: 0;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
    }

    .about-me {
        max-width: 473px;
        display: flex;
        align-items: center;
        gap: 57px;
        border: 1.5px solid rgba(51, 51, 51, 1);
        border-radius: 17px;
        padding: 21px 52px;
        position: absolute;
        top: 53px;
        left: 123px;
        z-index: 2;
        background: rgba(20, 14, 23, 1);
    }

    .my-photo {
        max-width: 131px;
        width: 100%;
    }

    .short-description {
        display: flex;
        flex-direction: column;
        gap: 7px;
        color: #FFFFFF;
        max-width: 180px;
    }    

    .my-name {
        font-weight: 800;
        font-size: 22px;
        line-height: 25px;
    }

    .description {
        font-weight: 500;
        font-size: 8px;
        line-height: 9px;
    }

    .write-action {
        margin-top: 19px;
        background: rgba(249, 214, 158, 1);
        padding: 6px 4px;
        max-width: 76px;
        text-align: center;
        border-radius: 6px;
        display: flex;
        gap: 4px;
        align-items: center;
    }

    .write-action a {
        text-decoration: none;
        color: black;
        text-align: center;
        width: 56px;
        font-weight: 600;
        font-size: 6px;
        line-height: 8px;
    }

    .write-action .vector {
        width: 6px;
    }

    .work-experience-wrapper .work-experience-top .item {
        max-width: 158px;
        display: flex;
        flex-direction: column;
        color: black;
        background: rgba(255, 175, 176, 1);
        gap: 11px;
        align-items: center;
        border-radius: 15px;
        padding: 15px;
        position: absolute;
        left: 525px;
    }

    .work-experience-top .item .project-photo img {
        width: 122px;
    }

    .work-experience-top .item .project {
        display: flex;
        flex-direction: column;
        gap: 8px;
        
    }

    .work-experience-top .item .project .project-name {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
    }

    .work-experience-top .item .project .project-description {
        font-weight: 500;
        font-size: 8px;
        line-height: 12px;
    }

    .work-experience-top .item .show-project {
        display: flex;
        justify-content: flex-end;
    }

    .work-experience-top .item .button {
        padding: 8px 6px;
        border-radius: 8px;
        border: 0.47px solid rgba(51, 51, 51, 1);
        max-width: 85px;
        width: 100%;
        display: flex;
        gap: 9px;
        align-items: center;
    }

    .work-experience-top .item .button a {
        color: black;
        text-decoration: none;
        font-weight: 600;
        font-size: 8px;
        line-height: 12px;
        text-align: center;
    }

    .work-experience-top .item .button img {
        width: 9px;
    }

    .container .work-experience .work-experience-bottom .work-experience-bottom-span {
        display: flex;
        flex-direction: column;
    }

    .container .pricing-plans .pricing-plan .plan.base {
       height: 496px;
    }

    .container .pricing-plans .pricing-plan .plan.premium .plan-wrapper .plan-description .plan-description-text {
        height: 48px;
    }

    .container .pricing-plans .pricing-plan .plan.premium {
        height: 496px;
    }

    .container .footer-container  {
        display: flex;
        flex-direction: column;
        gap: 24px;    
    } 

    .container .footer-container .footer-wrapper .footer-info {   
        max-width: 352px;
        width: 100%;
    }
    
    .container .footer-container .footer-wrapper .social-links {
        max-width: 352px;
        width: 100%;
    }
    
    }





@media screen and (max-width: 375px) {

    .header-container .burger-menu {
         width: 335px;
   }

    .container .about {
        background: url(./icons/about-photo-375.svg) no-repeat right;
        background-position: 95px 0;
    }

    .about .about-top .about-text {
        background: url(./icons/firework-375.svg) no-repeat right;
        background-position: 265px 14px;
    }

    .about .about-top .about-text .about-text-title {
        font-size: 42px;
        font-weight: 700;
        line-height: 54px;
    }

    .about .about-top .about-text .about-text-icon {
        padding: 0 0 29px 0;       
    }

    .about .about-top .about-text .about-text-icon img {
        width: 100px;
    }

    .about-photo {
        display: none;
    }

    .container .about .about-bottom {
        flex-direction: column;
        align-items: start;
    }

    .container .info .info-item.elem {
        max-width: 335px;
        width: 100%;
        max-height: 372px;
   }

   .container .info .info-item.analit {
        max-width: 335px;
        width: 100%;
        max-height: 398px;
   }

   .container .info .info-item.link {
        max-width: 335px;
        width: 100%;
        max-height: 346px;
   }

    .container .work-experience .work-experience-top img {
        width: 335px;
    }

    
    .work-experience-top {
        height: 146px;
        width: 335px;
        
    }

    .work-experience {
        width: 182px;
        height: 108px;
        border: 0.25px solid rgba(51, 51, 51, 1);
        border-radius: 8px;
        color: white;
        padding: 6px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: absolute;
        top: 36px;
        left: 16px;
    }
    
    .job-list {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    h3 {
        font-weight: 600;
        font-size: 6px;
        line-height: 6px;
        color: rgba(170, 219, 107, 1);
    }

    .company{
        font-weight: 500;
        font-size: 6px;
        line-height: 7px;
    }

    .company .period {
        font-weight: 500;
        font-size: 4px;
        line-height: 6px;
        color: #76757B;
    }

    .company-link a {
        font-weight: 500;
        font-size: 4px;
        line-height: 6px;
        text-decoration: underline;
        text-decoration-style: solid;
    
        color:#76757B ;
    }

    .job .position {
        margin-top: 0px;
        font-weight: 500;
        font-size: 4px;
        line-height: 6px;
    }

    .about-me {
        max-width: 220px;
        display: flex;
        align-items: center;
        gap: 26px;
        border: 0.67px solid rgba(51, 51, 51, 1);
        border-radius: 8px;
        padding: 10px 12px;
        position: absolute;
        top: 25px;
        left: 57px;
        z-index: 2;
        background: rgba(20, 14, 23, 1);
    }

    .my-photo {
        max-width: 61px;
        width: 100%;
    }

    .short-description {
        display: flex;
        flex-direction: column;
        gap: 3px;
        color: #FFFFFF;
        max-width: 84px;
    }    

    .my-name {
        font-weight: 800;
        font-size: 10px;
        line-height: 11px;
    }

    .description {
        font-weight: 500;
        font-size: 4px;
        line-height: 4px;
    }

    .write-action {
        margin-top: 9px;
        background: rgba(249, 214, 158, 1);
        padding: 2px 3px;
        max-width: 35px;
        text-align: center;
        border-radius: 3px;
        display: flex;
        gap: 4px;
        align-items: center;
    }

    .write-action a {
        text-decoration: none;
        color: black;
        text-align: center;
        width: 26px;
        font-weight: 600;
        font-size: 3px;
        line-height: 4px;
    }

    .write-action .vector {
        width: 3px;
    }

    .work-experience-wrapper .work-experience-top .item {
        max-width: 73px;
        display: flex;
        flex-direction: column;
        color: black;
        background: rgba(255, 175, 176, 1);
        gap: 5px;
        align-items: center;
        border-radius: 32px;
        padding: 7px;
        position: absolute;
        left: 244px;
    }

    .work-experience-top .item .project-photo img {
        width: 57px;
    }

    .work-experience-top .item .project {
        display: flex;
        flex-direction: column;
        gap: 5px;
        
    }

    .work-experience-top .item .project .project-name {
        font-weight: 700;
        font-size: 9px;
        line-height: 12px;
    }

    .work-experience-top .item .project .project-description {
        font-weight: 500;
        font-size: 4px;
        line-height: 6px;
    }

    .work-experience-top .item .show-project {
        display: flex;
        justify-content: flex-end;
    }

    .work-experience-top .item .button {
        padding: 3px 4px;
        border-radius: 4px;
        border: 0.2px solid rgba(51, 51, 51, 0.5);
        max-width: 40px;
        width: 100%;
        display: flex;
        gap: 3px;
        align-items: center;
    }

    .work-experience-top .item .button a {
        color: black;
        text-decoration: none;
        font-weight: 600;
        font-size: 4px;
        line-height: 5px;
        text-align: center;
    }

    .work-experience-top .item .button img {
        width: 4px;
    }

    .work-experience-top .work-experience .job-list .job .company-link {
        position: relative;
        height: 10px;
    }

     .work-experience-top .work-experience .job-list .job .company-link a {
        position: absolute;
    }

    .container .pricing-plans {
        flex-direction: column;
    }

    .container .pricing-plans .pricing-plan .plan.base {
       height: 464px;
    }

    .container .pricing-plans .pricing-plan .plan.premium {
        height: 496px;
    }

    .container .footer-container .footer-wrapper {
        flex-direction: column;
    }

}